@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');


*::before,*::after,*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*Header Content*/
header{
    z-index:1;
    position: static;
    background-color: black;
    height:70px;
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 20px;
    
}
.header-left, .header-right{
    padding-left:30px;
    color:white;
}
.header-right{
    padding-right:30px;
}
.header-left > h2{
    font-size:40px;
    font-style: italic;
    font-family: 'Gloock', serif;
}
.header-right{
    display: flex;
    flex-direction: row;
    list-style: none;

}
.header-right > li{
    padding:30px;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;

}

/*Main Content*/
.main-img{
    background: url('https://images.unsplash.com/photo-1628274459813-74bc7e2c53b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    width:100%;
    height:700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-img-fade{
    background: linear-gradient(90deg, transparent 50%, black 90%);
    height:100%;
    width:100%;
    display: flex;
    justify-content: flex-end;
}
.main-img-text{
    color:rgb(238, 204, 185);
    font-family: 'Chonburi', cursive;
    font-size: 65px;
    width:50%;
    height:50%;
    word-spacing: 10px;
    display:flex;
    align-items:center;
    flex-direction: column;
}
.main-img-text > h1{
    padding-top: 100px;
    padding-left:200px;
}
.main-img-text > a{
    background-color: orange;
    font-size: 20px;
    text-decoration: none;
    color:white;
    font-family: 'Open Sans', sans-serif;
    border-radius:6px ;
    text-align: center;
    font-weight: bold;
    margin-top:40px;
    padding:12px;
    width:250px;
}