@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*::before,*::after,*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: black;
}
/*Header Content*/
header{
    z-index:1;
    position: sticky;
    top:0px;
    background-color: black;
    height:70px;
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 20px;
    
}
.header-left, .header-right{
    padding-left:30px;
    color:white;
}
.header-right{
    padding-right:30px;
}
.header-left > h2{
    font-size:40px;
    font-style: italic;
    font-family: 'Gloock', serif;
}
.header-right{
    display: flex;
    flex-direction: row;
    list-style: none;

}
.header-right > li{
    padding:30px;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;

}

/*Main Content*/
.main-img{
    background: url('https://images.unsplash.com/photo-1628274459813-74bc7e2c53b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    width:100%;
    height:800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-img-fade{
    background: linear-gradient(90deg, transparent 50%, black 90%);
    height:100%;
    width:100%;
    display: flex;
    justify-content: flex-end;
}
.main-img-text{
    color:white;
    font-family: 'Chonburi', cursive;
    font-size: 65px;
    width:40%;
    height:100%;
    word-spacing: 10px;
    display:flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}
.main-img-text > h1:nth-of-type(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.main-img-text > h1:nth-of-type(2){
    font-style: italic;
}

/*main text*/
.main-text{
    display: flex;
}
img{
    display: flex;
    height:50em;
    justify-self: flex-start;
    margin :170px 70px;
}
.prc{
    height:50em;
    width:50em;
    color:white;
    margin-top:170px;
    border-left: 2px solid white;
    padding:60px;
    display: flex;
    flex-direction: column;
    align-items:space-around;
}
.prices{
    height: 200px;
    width:50em;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.prc > div > h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    width: 5em;
    height:1.5em;

}
.prices >article > ul{
    list-style: none;
    margin-top:70px;
    margin-left:1em;
    width: 20em;
    height:20em;
}
.prices >article > ul > li{
    padding:5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
}
footer{
    color:white;
    display: flex;
    justify-content: space-around;
    background-color: rgb(54, 21, 15);
    height:20em;
}

/* Gallery */
.gallery{
    display: flex;
    height:40em;
    background: linear-gradient(217deg, rgba(53, 4, 4, 0.8), rgba(255,0,0,0) 70.71%),            
                linear-gradient(127deg, rgba(133, 84, 20, 0.8), rgba(0,255,0,0) 70.71%),            
                linear-gradient(336deg, rgba(100, 3, 3, 0.8), rgba(0,0,255,0) 70.71%);
    width:100%;
    flex-direction: column;
}
.gallery-title{
    width:25em;
    align-self: center;
    margin-top: 10px;
}
.gallery-title > h2{
    font-size: 70px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    border-bottom:1px solid white;
    text-align: center;
}
.gallery-imgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:2em;
}
.g-image00,.g-image01,.g-image02,.g-image03,.g-image04{
    box-shadow: 0px 10px 40px;
    background-color: black;
}
.g-image00,.g-image01,.g-image02{
    margin-right:5em;
}
.g-image00,.g-image01,.g-image02,.g-image04{
    height:13em;
    width:15em;
    align-self: center;
}
.g-image03{
    height:30em;
    width:30em;
    margin-right:5em;
}

/* Footer */
footer{
    height: 35em;
    padding:2em;
    display: flex;
    flex-direction: column;
}
footer section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
footer h1{
    font-size:2em;
    font-family: 'Montserrat', sans-serif;
}
footer li{
    list-style:none;
    padding:6px;
}
footer p, footer span, .footer-bottom > h1{
    font-family: 'Open Sans', sans-serif;
}
.footer-bottom{
    width:100%;
    font-size: 12px;
    border-top:1px solid white;
    margin-top:30px;
    height:5em;
    display: flex;
    align-items: center;
    justify-content: center;
}